.active {
  margin-top: 90px;
  font-size: 70px;
  font-weight: 200;
  transition: font-size 0.3s ease-in-out;

  letter-spacing: 8px;
}

header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background-color: #12383d;
}

p {
  position: absolute;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
  color: #f0924f;
}

span:nth-child(7) {
  margin-top: 90px;
}

span {
  font-family: "Audiowide", cursive;
  font-size: 40px;
  color: #f0924f;
}

span:hover {
  cursor: pointer;
}
