.projectsContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.discription {
  color: black;
  position: relative;
  margin-top: 20px;
}

.box {
  background-color: #24292e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
  transform: translateX(200%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
